@page "/"
@using CodeBehind
@inherits IndexPage

<AuthorizeView>
    <NotAuthorized>
        <h1>Hello, world!</h1>
        Welcome to your new app.
        <SurveyPrompt Title="How is Blazor working for you?" />
    </NotAuthorized>
    <Authorized>
        <MatH4>Users</MatH4>
        <div>
            <form @onsubmit="HandleSearch">
                <MatTextField TValue="string" @bind-Value="Query" Label="Search" Dense="true" />
                <MatTextField TValue="string" @bind-Value="SortBy" Label="Sort By" Dense="true" />
                <MatSelect @bind-Value="SortDirection" Label="Sort Direction">
                    <MatOptionString Value="asc">asc</MatOptionString>
                    <MatOptionString Value="desc">desc</MatOptionString>
                </MatSelect>
                <MatTextField TValue="string" @bind-Value="PropertiesToGet" Label="Properties to Retrieve" Dense="true" />
                <MatButton Type="submit" Raised="true" Dense="true">Search</MatButton>
            </form>

            <MatTable Items="@Users" ShowPaging="false">
                <MatTableHeader>
                    <th>Username</th>
                    <th>Email</th>
                </MatTableHeader>
                <MatTableRow Context="tableRowContext">
                    <td>@tableRowContext.Username</td>
                    <td>@tableRowContext.Email</td>
                </MatTableRow>
            </MatTable>
            <MatButton OnClick="HandlePrevious" Disabled="disablePrevious">Previous</MatButton>
            <MatButton OnClick="HandleNext" Disabled="disableNext">Next</MatButton>
        </div>
    </Authorized>
</AuthorizeView>
