@page "/login"

@inject LoginUserQueryHandler LoginUserHandler
@inject AuthenticationStateProvider _authStateProvider
@inject NavigationManager navman;

<h1>Register User</h1>

<form @onsubmit="HandleSubmit">
    <label>Email:</label>
    <input type="email" @bind="Email" />

    <label>Password:</label>
    <input type="password" @bind="Password" />

    <button type="submit">Login</button>
</form>

@code {
    private string Email { get; set; }
    private string Password { get; set; }

    private async Task HandleSubmit()
    {
        var command = new LoginUserQuery
            {
                Email = Email,
                Password = Password
            };


        await LoginUserHandler.Handle(command);
    }
}
