@page "/register"
@using CodeBehind
@inherits RegisterPage

<MatH3>Register User</MatH3>

<form @onsubmit="Handle">
    <label>Username:</label>
    <input type="text" @bind="Username" />

    <label>Email:</label>
    <input type="email" @bind="Email" />

    <label>Password:</label>
    <input type="password" @bind="Password" />

    <button type="submit">Register</button>
</form>
