@page "/chats/{chatId}"
@using CodeBehind
@inherits ChatPage

<AuthorizeView>
    <Authorized>
        <MatTable Items="@messages">
            <MatTableHeader>
                <th>Sender</th>
                <th>Message</th>
                <th>Timestamp</th>
                <th>Actions</th>
            </MatTableHeader>
            <MatTableRow Context="tableRowContext">
                <td>@tableRowContext.SenderId</td>
                <td>@tableRowContext.Message</td>
                <td>@tableRowContext.TimeStamp.ToString("MM/dd/yyyy HH:mm:ss")</td>
                <td>
                    <button @onclick="() => EditMessage(tableRowContext.Id, tableRowContext.Message)">Edit</button>
                    <button @onclick="() => DeleteMessage(tableRowContext.Id)">Delete</button>
                </td>
            </MatTableRow>
        </MatTable>
        <div>
            <input type="text" @bind="messageText" />
            <button @onclick="SendMessage">Send</button>
        </div>
    </Authorized>
</AuthorizeView>
