@page "/createchat"
@using CodeBehind
@inherits CreateChatPage

<h3>Create Chat</h3>

<AuthorizeView>
    <Authorized>
        <form @onsubmit="HandleCreateChat">
            <div>
                <label for="chatName">Name:</label>
                <input type="text" id="chatName" @bind="chatName" />
            </div>
            <div>
                <label for="chatDescription">Description:</label>
                <input type="text" id="chatDescription" @bind="chatDescription" />
            </div>
            <button type="submit">Create</button>
        </form>
    </Authorized>
</AuthorizeView>

